<!-- Footer -->
<footer class="footer mt-auto py-1 footerbg">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-1">
        <div class=" mt-2 mb-2 flex-center">

          <!-- Facebook -->
          <a href="#" class="fb-ic" target="_blank">
            <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a href="#" class="ins-ic" target="_blank">
            <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center copydark mb-2">
    <b>© 2019 Copyright: Ryanandme</b>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
